<h1 class="text-center">Cocktails</h1>
<div class="d-flex flex-wrap cocktail-box">
<% @cocktails.each do |cocktail| %>
  <div class="card m-2 d-flex">
    <%= cl_image_tag @cocktail.photo.key, class: 'card-img-top' %>
    <div class="card-body">
      <h5 class="card-title"><%= cocktail.name %></h5>
      <%= link_to 'Discover more', cocktail_path(cocktail), class: "btn btn-outline-secondary" %>
    </div>
  </div>
<% end %>
</div>
