Home page
<% @cocktails.each do |cocktail| %>
  <div class="card" style="width: 18rem;">
    <%= image_tag "#", alt: "alttext", class: 'card-img-top' %>
    <div class="card-body">
      <h5 class="card-title"><%= cocktail.name %></h5>
      <%= link_to 'Discover more', cocktail_path(cocktail), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
