.input {
  background-color: $charcoal;
  border: 1px solid $gold;
  font-family: $text-font;
  color: $gold;

  &:focus {
    background-color: $charcoal;
    border: 1px solid $gold;
    font-family: $text-font;
    color: $gold;
  }
}

label {
  color: $gold;
  font-family: $text-font;
}

.submit {
  color: $gold;
  border: 1px solid $gold;

    &:hover {
      background-color: $gold;
      color: $charcoal;
      cursor: pointer;
    }
}

@media (min-width: 100px) and (max-width: 575px) {
  h1 {
    font-size: 32px;
  }
}
