.cocktail-container {
  width: 900px;
  margin: 0 auto;
}

.cocktail-name {
  font-family: $cocktail-font;
  color: $gold;
}

.cocktail-details {
  display: flex;
  justify-content: space-between;
}

.cocktail-doses {
  font-family: $text-font;
  color: $gold;
}

.btn {
  color: $gold;
  border: 1px solid $gold;

    &:hover {
      background-color: $gold;
      color: $charcoal;
    }
}

.delete-btn:hover {
  color: red;
}

.show-links {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0 100px;
}

@media (min-width: 100px) and (max-width: 575px) {
  .cocktail-container {
    width: 100vw;
  }
  .cocktail-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .show-links {
    display: flex;
    justify-content: center;
  }

  .btn {
    margin: 10px;
  }

}
