.navbar-lewagon {
  justify-content: space-between;
  background: rgba(0, 0, 0, 0,);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-logo {
  border: 1px solid $gold;
  padding: 5px;
  color: $gold;
  font-family: $cocktail-font;
}

#navbar-text {
  color: $gold;
  transition: .2s;
  display: inline-block;
  border: 0.5px solid $gold;
  margin-right: 5px;
  font-family: $cocktail-font;

  &:hover {
    background-color: $gold;
    color: $charcoal;
  }
}
